/* General */
body {
    display: flex;
}

main {
    width: 100%;
    max-width: var(--max-content-width);
}

.sidebar {
    width: 100%;
    max-width: 200px;

    display: flex;
    flex-direction: column;

    border-right: var(--line-width) solid var(--hr-color);

    padding: var(--content-padding);
    gap: var(--gap-in-grid);
}

.sidebar .button {
    width: 100%;
}

/* Elements */
input[type="submit"] {
    max-width: unset;
}

.group {
    display: flex;
    flex-direction: column;

    gap: var(--gap-in-grid);
}

label {
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    font-size: var(--control-font-size);
}

label input {
    max-width: unset;
}
