/* 
 * General 
 */
body {
    display: flex;
}

main {
    width: 100%;
}

.sidebar {
    width: 100%;
    max-width: 200px;

    display: flex;
    flex-direction: column;
    overflow-y: auto;

    padding: var(--content-padding);
    gap: var(--gap-in-grid);
}
.sidebar .button {
    width: 100%;
}
.sidebar .button:first-of-type {
    margin-top: var(--headline-top-margin);
}

/* 
 * Elements
 */
.group {
    display: flex;
    flex-direction: column;

    gap: var(--gap-in-grid);
}

label {
    width: 100%;
    max-width: var(--max-content-width);

    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;

    font-size: var(--control-font-size);
}

.group.pricing-chart label {
    grid-template-columns: 1fr 150px;
}

label input {
    max-width: unset;
}

.item-grid {
    display: grid;
    gap: var(--gap-in-grid);

    grid-template-columns: repeat(auto-fill, minmax(var(--column-width), 1fr))
}

.item::after {
    content: "arrow_forward";
}

.submit-wrapper {
    width: 100%;
    max-width: var(--max-content-width);

    display: flex;
    justify-content: end;

    padding-top: var(--gap-in-grid);
}

.submit-wrapper input {
    width: auto;
}

/*
 * Icons
 */
.icon,
.item::after,
input[type="checkbox"]::after {
    font-family: icons;
}
